* { /* Resets and Default styling */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}





 .body{
  
     background-color: #FFB4A2;
     font-size: 15px;
     font-family: 'Montserrat', sans-serif;
     margin: 50px;
     margin-top: 0;
    display: flexbox;
    vertical-align: center;
   

    

 }

 header{
     font-size: 35px;
     font-family:  'Dancing Script', cursive;
     font-weight:bold;
    text-align: center;
    justify-content: center;
 }
 h1{ /*new/sale*/
    border-radius: 50px;
    border:5px #AB737E;
    background-color: #E5989B;
     font-size: 40px;
     font-family:  'Dancing Script', cursive;
     text-align: center;

     width: 600px;
     height: 45px;
   
 }

 .navbar{
    list-style-type: none;
    border: 2px solid #995C68;
    margin: 0; 
    background-color:#AB737E;
  

  
}
.nav{
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
    
 }
  a:link {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
   font-weight: bold 20px;
   text-decoration: none;
    color: black;
  }
  
  /* visited link */
  a:visited {
      color: black;
    text-decoration: none;
  }
  
#div1{
    background-color: rgba(112, 105, 119, 0.7);;
    border-radius: 20px;
    font-size: 16px;
    width: 700px;
   justify-content: center;
    margin-left: 100px;
    padding-bottom: 20px;
}

h2{

    font-family:  'Dancing Script', cursive;
    font-size: 20px;    
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
     text-align: center;
 }

.main{
 font-family: 'Montserrat', sans-serif;
 padding: 10px;
 padding-top: 30px;
 margin: 35px;


}
.p2{

    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
font-family: 'Montserrat', sans-serif; ;
}
.flowers{
    list-style-type: none;
    margin-left: 50px;
    margin-top: 100px;
    padding: 20px;
  

  
}

.fall{

padding: 0px;
position: relative;
margin: 10px;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
font-weight: bold;
font-style: italic;

}
.image{
    float: left; 
    border: 2px solid #706977; 
    border-radius: 20px;
    height: 550px;
    margin: 30px; 
    padding: 0px;
    margin-top: 40px;
}

 /*mobile first (min-width: 400px) and*/
 @media only screen and  (max-width: 760px) {
   
   
 .body{
   flex-direction: column;
    width: 200px;
}

     h1{
      
       padding: 10px;
        margin: 25px; 
        
     }
     h2{
        margin: 0px;
        margin-left: 250px;
        padding-bottom: 0px;
        width: 300px;
     
    }

     .navbar{
        margin: 0;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-bottom: 80px;

    }

    .nav{
       
        margin: 0px;
        padding-bottom: 5px;
     }

    header{
 
       text-align: center;
        width: 400px;
        height: 30px;
      
       font-size: 25px;
    }
    
    .image{
        height: 350px;
        width: 200px;

      
    }
    #div1{
       
       
    }
  

}