
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    }

    /* possition text over image-- and make the color transparrent 0.5 */
.hitName{
    position: 'absolute';
    top: 0;
    left: 0;
    right: 0;
    bottom: 10;
    margin-top: 0;
   
    text-align: center;
    width: 250px;
    height: 40px;
    background-color: rgba(8, 84, 134, 0.5);

}  

.row{
    margin-left: 50px;
}

 .images{
    margin-bottom: 0;
    padding-bottom: 0;
    width: 250px;
    height: 200px;
}

.h1{
    height: 40px;
    width: 500;
    color: darkred;
    font-size: 20px;
    font-weight: 50;
    background-color: rgb(90, 88, 88);

}