 
.container{
    width: 80%;
    margin: 0 auto;
   font-size: 0px;
   text-align: center;    
    
   }

.square{
    background-color: bisque;
    display:inline-block;
    height: 400px;
    width:450px;
    align-content: center;
    font-size: 25px;
    margin: 80px;
    padding: 80px;

}