* { /* Resets and Default styling */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}



 .body{
  
     background-color: #FFB4A2;
     font-size: 15px;
     font-family: 'Montserrat', sans-serif;
     margin-top: 0;
    display: inline-grid;
 align-items: center;

 }

 
 .navbar{
    list-style-type: none;
    margin-left: 40px;
 
}
.nav{
    border: 2px solid #995C68;
    background-color:#AB737E;
    padding: 5px;
    margin: 0;
    margin-left: 20px; 
    margin-right: 20px;  
    
 }
  a:link {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
   font-weight: bold 20px;
   text-decoration: none;
    color: black;
  }
  
  /* visited link */
  a:visited {
      color: black;
    text-decoration: none;
  }

 header{
     font-size: 35px;
     font-family:  'Dancing Script', cursive;
     font-weight:bold;
    text-align: center;
 }
 h1{ /*new/sale*/
    border-radius: 50px;
    border:5px #AB737E;
    background-color: #E5989B;
     font-size: 40px;
     font-family:  'Dancing Script', cursive;
     text-align: center;

     width: 600px;
     height: 45px;
     margin-top: 20px;
     margin-bottom: 40px;
   
 }
 #div1{
    background-color: rgba(112, 105, 119, 0.7);;
    border-radius: 20px;
    font-size: 16px;
  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}


.main{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
    padding-top: 10px;
    margin: 35px;
    margin-top: 10px;
   }

   .image{
    float: left; 
    border: 2px solid #706977; 
    border-radius: 20px;
    margin: 30px; 
    padding: 0px;
    margin-top: 40px;
}
.p2{

    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
font-family: 'Montserrat', sans-serif; ;
}


h2{

    font-family:  'Dancing Script', cursive;
    font-size: 20px;    
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;
}

p{
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    
}

#flowers{
    margin-bottom: 40px;
    display: grid;
    padding: 10px;
}

.flowersList{
    list-style-type: none;
    padding: 20px;
  
}

 /*mobile */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

header{
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 15px;
}
#div1{
  width: 300px;
   margin-left: 35px;
}
.image{
    height: 300px;
    width: 230px;
   margin: 5px;
   margin-left: 25px;
   margin-bottom: 15px;
}
h1{
    margin-left: 50px;
    width: 450px;
}
h2{
    padding:15px;
    margin-left: 30px;
}

#flowers{
    margin-left: 35px;
}
p{
    margin-left: 60px;
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
header{
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 45px;
}
#div1{
  width: 450px;
   margin-left: 100px;
}
.image{
    height: 300px;
    width: 230px;
   margin: 15px;
   margin-left: 25px;
  
}
h1{
    margin-left: 50px;
    width: 450px;
}
h2{
    padding:15px;
    margin-left: 30px;
}
#flowers{
    height:600px;
    width: 400px;
    margin-left: 60px;
}
p{
    margin-left: 70px;
}
} 
 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #div1{
        width: 600px;
    }
    .image{
        margin-left: 40px;
        height: 450px;
        width: 350px;
    }
    header{
    padding-bottom: 20px;
    }
    h1{
        margin-left: 70px;
        width: 450px;
    }
    #flowers{
        height:600px;
        width: 400px;
        margin-left: 60px;
    }
    p{
        margin-left: 70px;
    }
}
 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar{
      margin-left: 80px;
      width: 900px;;
  }
    #div1{
        width: 700px;
    }
    .image{
        margin-left: 40px;
        height: 400px;
        width: 330px;
    }
    header{
    padding-bottom: 20px;
    }
    h1{
        margin-left: 100px;
        width: 450px;
    }
    #flowers{
        height:760px;
        width: 700px;
        margin-left: 200px;
    }
    p{
        margin-left: 250px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
    #div1{
        width: 900px;
        height: 780px;
        margin-left: 100px;
    }
    .image{
        margin-left: 40px;
        height: 700px;
        width: 630px;
    }
    header{
    padding-bottom: 20px;
    }
    h1{
        margin-left: 200px;
        width: 450px;
    }
    h2{
        font-size: 20px;
        margin-left: 200px;
    }
    #flowers{
        height:800px;
        width: 600px;
        margin-left: 300px;
    }
    p{
        margin-left: 350px;
    }
}