body {
    background-color: #282c34;
    color: rgb(247, 237, 184);
    padding: 40px;
    font-family: Arial;
    margin-left: 50px;
  }

  .card{
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding: 10px;
    border: 2px solid white;
    margin-left: 50px;
    margin-right: 200px;
    text-align: center;
  }

  .h1{
    text-align: center;
    margin-left: 50px;
    margin-right: 200px;
  }
  