
.container {
    /* give the container display grid */
    display: grid;
    /* with six rows, 50px high */
    /* default all cells/children on the left be 2/3 the screen width, and all on the left 1/3 */

grid-template-columns: 2fr 1fr;
grid-template-rows: repeat(6, 0.1fr);
grid-column-gap: 0px;
grid-row-gap: 0px; 
padding: 10px;
/* font-family: 'icomoonregular','libre_baskervilleregular','libre_baskervilleitalic','julius_sans_oneregular'; */
}


.container > div {
    border: solid black 2px;
    padding: 10px;
}


.authors {
    background-color: lightcoral;
    grid-area: 2 / 2 / 3 / 3;
}
.links {
    grid-area: 3 / 2 / 4 / 3; 
    background-color:rgba(188, 213, 199, .8); 
    background-image: url("images/bamboo.png")
}
.div1 { grid-area: 1 / 1 / 2 / 3; 
background-image: url("images/huntington.jpg");}

.div2 { grid-area: 2 / 1 / 3 / 2; 
        background-color: #ffffff;
}

.div3 { grid-area: 3 / 1 / 4 / 2; 
        background-color: rgba(188, 213, 199, .8) ;
        background-image: url("images/bamboo.png");
}

.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 3; }
.div6 { grid-area: 1 / 2 / 2 / 3; }
.div7 { 
    grid-area: 4 / 2 / 5 / 3; 
    background-color: #e5ede8;
} 

.footer {
    /* make these span the width of the page */
    background-color: aquamarine;
    grid-area: 6 / 1 / 7 / 3;
}

@media (max-width: 900px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    .authors {
  grid-area: 8 / 1 / 7 / 3; 

    }
    .links {
        /* grid-template-columns: 1fr; */
        grid-area: 3 / 2 / 4 / 3;;
    }
    .footer{
        grid-area: 9 / 1 / 8 / 3;
    }
    /* container could use some help so that it's children are full screen width */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 0.1fr);
    }
    .div2 {
        grid-area: 2 / 1 / 3 / 3;
    }
    .div3{
        grid-area: 3 / 1 / 4 / 2; 
    }
    .div4{
        grid-area: 4 / 1 / 5 / 3;
    }
    .div5{
        grid-area: 5 / 1 / 6 / 3; 
    }
    .div7{
        grid-area: 6 / 1 / 7 / 3; 
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}